@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fundo:#f8b400;
    --sombra:#6B5E53;

    --font: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    
}



.hero-banner{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}

.hero-banner .logo img{ 
    padding-top: 20px;
    width:100px;
}



.hero-banner ul{
    display:flex ;
    list-style: none;
    
}

.hero-banner ul a{
    text-decoration: none;
    padding: 0 10px ;
    font-size: 1.3em;
    transition: all 0.5s;
    color: black;
}

a:hover{
    color: black;
    font-weight: bold;
}

.linha{
    border-top: 1px solid rgba(0, 0, 0, 0.179);
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.pricp-container{
    display: flex;
}



.text-pricp .title{
    font-weight: 500;
    font-size: 5em;
    line-height: 1.1;
}

.text-pricp  .sub-title{
    padding: 10px;
    font-size: 2em;
    font-weight: 400;
}

.text-pricp p{
    font-size: 1.2em;
    width: 70%;
    padding: 0 0 10px 10px;
}